<!--sideMenu菜单-->
<script type="text/html" id="tpl-side-menu">
    {{each sideMenu as menu}}
    <div data-index="{{menu.id}}" class="{{menu.icon}} iconfont"></div>
    {{/each}}
</script>
<!--表格-->
<script type="text/html" id="tpl-table-body">
    {{each list as tab}}
    <tr>
        <td class="col-md-1">{{tab.id}}</td>
        <td class="col-md-2">{{tab.zhujiao}}</td>
        <td class="col-md-2">{{tab.time}}</td>
        <td class="col-md-2">{{tab.phone}}</td>
        <td class="col-md-2">{{tab.text}}</td>
        <td class="col-md-3">{{tab.ramark}}</td>
    </tr>
    {{/each}}
</script>
<!---select下拉框-->
<script type="text/html" id="tpl-level-box">
    {{each list as opt}}
    <option value="{{i}}">{{opt.name}}</option>
    {{/each}}
</script>
<!--tab1列表-->
<script type="text/html" id="tpl-tab1-box">
    {{each lists as list i}}
    <div data-info="tpl-tab1-info" data-index="{{i}}" class="lists ">
        <div class="row">
            <div class="col-md-6">{{list.phone}}</div>
            <div class="col-md-6 text-right">{{list.time}}</div>
        </div>
        <div class="row">
            <div class="col-md-12">{{list.name}}</div>
        </div>
        <div class="row">
            <div class="col-md-10 zuo-xi">
                {{list.zuoxi}}[{{list.zuoxi}}]
                <i class="iconfont icon-jiantouyou"></i> 坐席
            </div>
            <div class="col-md-2 text-right">
                <i class="iconfont {{list.img}}"></i>
            </div>
        </div>
    </div>
    {{/each}}
</script>
<!--tab2列表-->
<script type="text/html" id="tpl-tab2-box">
    {{each lists as d}}
    <div data-info="tpl-tab2-info" data-index="0" class="lists ">
        <div class="row">
            <div class="col-md-6">{{d.phone}}</div>
            <div class="col-md-6 text-right">{{d.time}}</div>
        </div>
        <div class="row mar-top">
            <div class="col-md-7 zuo-xi">
                <i class="iconfont {{d.img}}"></i>
                {{d.zuoxi}}[{{d.zuoxi}}]
            </div>
            <div class="col-md-5 text-right">
                <i class="btn-danger lab-box">振铃未接听</i>
            </div>
        </div>
    </div>
    {{/each}}
</script>
<!--tab3列表-->
<script type="text/html" id="tpl-tab3-box"></script>
<!--tab1列表详细内容-->
<script type="text/html" id="tpl-tab1-info">
    <div class="form-horizontal">
        <div class="row han">
            <div class="col-md-4 form-group">
                <label class="col-md-5 control-label">呼叫类型</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" placeholder="来电" disabled="">
                </div>
            </div>
            <div class="col-md-4 form-group">
                <label class="col-md-5 control-label">主叫</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" placeholder="18802789980" disabled="">
                </div>
            </div>
            <div class="col-md-4 form-group">
                <label class="col-md-5 control-label">被叫</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" placeholder="18802789980" disabled="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 form-group">
                <label class="col-md-5 control-label">来电时间</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" placeholder="21:49:48" disabled="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label">来电原因</label>
                <div class="col-md-10 " id="con-select">
                    <select class="form-control one ">

                    </select>
                    <select class="form-control two ">

                    </select>
                    <select class="form-control three ">

                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label class="col-md-3 control-label">来电时间</label>
                <div class="col-md-8">
                    <textarea class="col-md-8 form-control" placeholder="Textarea" rows="5"></textarea>
                </div>
            </div>
        </div>
        <div class="btn-box">
            <button type="button" class="btn btn-success">保存</button>
        </div>
    </div>
    {{if type == 0}}
    <div class="panel panel-inverse" data-sortable-id="table-basic-2">
        <div class="page-header">
            <h3>历史来电记录</h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th>主叫</th>
                    <th>来电时间</th>
                    <th>处理坐席</th>
                    <th>来电原因</th>
                    <th>备注内容</th>
                </tr>
                </thead>
                <tbody id="table-body">

                </tbody>
            </table>
        </div>
    </div>
    {{/if}}
</script>
<!--tab2列表详细内容-->
<script type="text/html" id="tpl-tab2-info">
    <div class="form-horizontal">
        <div class="row han">
            <div class="col-md-4 form-group">
                <label class="col-md-5 control-label">呼叫类型</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" placeholder="来电" disabled="">
                </div>
            </div>
            <div class="col-md-4 form-group">
                <label class="col-md-5 control-label">主叫</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" placeholder="18802789980" disabled="">
                </div>
            </div>
            <div class="col-md-4 form-group">
                <label class="col-md-5 control-label">来电时间</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" placeholder="21:49:48" disabled="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 form-group">
                <label class="col-md-5 control-label">接通时间</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" placeholder="21:49:48" disabled="">
                </div>
            </div>
            <div class="col-md-4 form-group">
                <label class="col-md-5 control-label">处理坐席</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" placeholder="张三" disabled="">
                </div>
            </div>
            <div class="col-md-4 form-group">
                <label class="col-md-5 control-label">所属技能组</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" placeholder="24106" disabled="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 form-group">
                <label class="col-md-5 control-label">工号</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" placeholder="14453" disabled="">
                </div>
            </div>
            <div class="form-group col-md-8">
                <label class="col-md-2 control-label">来电原因</label>
                <div class="col-md-10 " id="con-select">
                    <input type="text" class="form-control" placeholder="来电原因" disabled="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label class="col-md-3 control-label">备注内容</label>
                <div class="col-md-8">
                    <textarea class="col-md-8 form-control" placeholder="Textarea" rows="5" disabled>没有什么</textarea>
                </div>
            </div>
        </div>
    </div>
</script>
<!--tab3列表详细内容-->
<script type="text/html" id="tpl-tab3-info">

</script>