.tab {
  padding: 20px;
  border: 1px solid #333;
  position: relative;
}
.tab .child {
  width: 10px;
  height: 20px;
  margin: 20px;
  padding: 20px;
  overflow: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 20px;
}
